<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Bot</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #0078D7;
            color: white;
            padding: 20px 0;
        }
        h1 {
            margin: 0;
        }
        main {
            padding: 20px;
        }
        a {
            text-decoration: none;
            color: #0078D7;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
        footer {
            margin-top: 20px;
            font-size: 14px;
            color: #555;
        }
    </style>
</head>
<body>
    <header>
        <h1>Добро пожаловать!</h1>
    </header>
    <main>
        <p>Этот сервер настроен для работы с нашим Telegram-ботом. Бот предоставляет данные о ценах закрытия и объёмах торгов за последний месяц для акций «AAPL» и «MSFT».</p>
        <p>Перейдите по ссылке, чтобы открыть бот: <a href="{{ bot_link }}" target="_blank">Наш Телеграм Бот</a></p>
    </main>
    <footer>
        <p>© 2024. Все права защищены.</p>
    </footer>
</body>
</html>
